header{
  background-color: rgb(109, 37, 109);
  opacity: 0.95;
}

.nav-link1{
      color:white;
      font-size: 15px;
      margin-left: 750px;
}

.nav-link2, .nav-link3, .nav-link4,.nav-link5,.nav-link6{
      color:white;
      font-size: 15px;
      margin-left: 25px;
}

.nav-link1:hover{
  color: #ff19a9;
}

.nav-link2:hover{
  color: #ff19a9;
}

.nav-link3:hover{
  color: #ff19a9;
}

.nav-link4:hover{
  color: #ff19a9;
}

.nav-link5:hover{
  color: #ff19a9;
}

.nav-link6:hover{
  color: #ff19a9;
}

.first-img{
  background-image: url(Block4.jpg);
  /* margin-top: -60px; */
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

#layer1{
  background-color: rgb(109, 37, 109);
  width: 100%;
  height: 400px;
  opacity: 0.95;
  margin-top: -400px;
  background-position: center;
  background-size: cover;
}

.sub-div{
  color: white;
  text-align: center;
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  padding-top: 70px;
}

#sub1-div1{
  font-size: 22px;
  color: white;
  text-align: justify,center;
  font-weight: 10;
  line-height: 30px;
  padding-top: 15px;
}

#sub1-div1 button{
  background-color: rgb(30, 145, 30);
  color: white;
  font-size: 20px;
  opacity: 1;
  border: none;
  box-shadow: none;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-top: 20px;
}

#sub1-div1 button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(5, 112, 5);
}

.container1{
   color: black;
   margin-top: 70px;
   text-align: justify,center;
   border:none;
   border-radius: 1em;
   height: 300px;
   width: 280px;
   margin-left: 200px;
   background-color: white;
}

.container2, .container3{
   color: black;
   margin-top: 70px;
   text-align: justify,center;
   border:none;
   border-radius: 1em;
   height: 300px;
   width: 280px;
   margin-left: 50px;
   background-color: white;
}

#image1, #image2, #image3{
   padding-left: 90px;
}

#heading1, #heading2, #heading3{
  text-align: center;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#details1,#details2,#details3{
  text-align: center;
  color: black;
  margin-top: 5px;
}

.container1,.container2,.container3{
  float: left;
}

.segment2 img{
 margin-top: -100px;
}

.container11{
  background-color: rgb(247, 242, 244);
  width: 649px;
  height: 500px;
}

.segment2 img,.container11{
  float: left;
}

.container11 hr{
  width: 100px;
  margin-top: 60px;
  margin-left: 90px;
}

#heading11{
  font-size: 35px;
  margin-left: 90px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 30px;
}

.details11{
  font-size: 20px;
  margin-top: 25px;
  margin-left: 90px;
}

.details11 button{
  color: white;
  background-color: rgb(30, 145, 30);
  border: none;
  box-shadow: none;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  margin-top: 25px;
  font-size: 17px;
}

.details11 button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(5, 112, 5);
}

.container21{
  background-size: cover;
  height: 800px;
  margin-top: 815px;
  background-color: rgb(109, 37, 109);
  background-position: center;
}

#heading21 hr{
  width: 100px;
  color: white;
  background-color: white;
  margin-top: -670px;
}

#heading21{
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: -550px;
  padding-top: -150px;
}

.detail21{
  color: white;
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
}

#fname{
  color: grey;
  border: grey;
  margin-top: 70px;
  padding-right: 300px;
  padding-left: 30px;
  margin-left: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sname,#email{
  color: grey;
  border: grey;
  margin-top: 10px;
  padding-right: 300px;
  padding-left: 30px;
  margin-left: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#subscribe{
  color: white;
  border: grey;
  margin-top: 10px;
  padding-right: 203px;
  padding-left: 203px;
  margin-left: 399px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(30, 145, 30);
}

#subscribe:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(5, 112, 5);
}

.footer{
  width: 1350px;
  background-color: rgb(30, 145, 30);
  height: 50px;
  margin-top: 180px;
}

#twitter{
  margin-left: 1130px;
}

#twitter,#instagram,#messages1:hover{
  cursor: pointer;
}

#instagram,#twitter,#messages1{
  float: left;
}